 a:link,
 a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 a:hover,
 a:active {
  color: black !important;
  text-decoration: underline;
}

input.invalid {
  border: 2px dashed red;
}

.input-alert {
  color: red;
}

.btn {
  margin: 3px;
}